@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap'); */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #111;
  background-color: #fff;
  /* background-color: #070f2b; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-PlusjakartaSans: PlusjakartaSans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-PlusjakartaSansB: PlusjakartaSansB, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-PLaywriteAUSA: PLaywriteAUSA, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


/* Load custom fonts */
@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/Fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PlusJakartaSansB";
  src: url("./assets/Fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "PlaywriteAUSA";
  src: url("./assets/Fonts/PlaywriteAUSA-Regular.ttf") format("truetype");
  font-weight: 400;
}

/* Register theme tokens */
@theme {
  --font-plus: PlusJakartaSans, system-ui, sans-serif;
}

@theme {
  --font-plusB: PlusJakartaSansB, system-ui, sans-serif;
}

@theme {
  --font-playwrite: PlaywriteAUSA, system-ui, sans-serif;
}




@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.4s ease-out;
}